.c1{
    height: 600px;
    background-image: url("c1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.c1 h1 {
    font-family: Tahoma, Verdana, sans-serif;
    color:white;
    font-weight: 700;
    padding-left: 115px;
    padding-top: 10%;
}
.c1 p {
    font-family: Tahoma, Verdana, sans-serif;
    color:white;
    padding-left: 115px;
}
.c2{
    padding-left: 115px; 
}
#header2{
    background-color: rgb(239, 171, 43);
}
#nav{
    height: 6rem;
}
#nav-content{
    padding-left: 4rem;
    gap: 2rem;
    font-size: 1.275rem;
}
#nav-content-items:hover{
    transform: scale(1.5);
}
#buttons:hover{
   transform: scale(1.2);
}
.container h3 {
    font-family: "Aclonica";
    font-size: 34px;
    font-weight: 900;
}
.c3 h3{
    font-family: Tahoma, Verdana, sans-serif;  
}
.c3{
    display: flex;
    padding: 20px;
    padding-left: 160px;
    margin: 30px;
    border: 20px solid rgb(20, 95, 14);
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(219, 244, 244);
}
.c3:hover{
    transform: scale(1.01);
}
.c4{
    color: white;
}  
.col-md-4 {
    padding-left: 115px;
    padding-right: 115px;
}  
.so{
    font-family: "Aclonica";
    color: rgb(35, 32, 32);
    font-size: 1.25rem;
}
#footer2{
    background-color: rgb(239, 171, 43);
}